.routes__title {
  @include text(24px, 24px, 400, $color-bright);
  margin: 0;
  padding-left: 15%;
  letter-spacing: 1px;
}

.routes__text {
  @include text(16px, 22px, 200, $color-dark);
  margin: 0;
  padding-top: 30px;
  padding-left: 15%;
  padding-bottom: 50px;
  width: 62%;
}

.routes__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 84.4%;

}

.routes__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 270px;
  margin-bottom: 10px;
}

.routes__link {
  margin-top: 10px;
  width: 230px;
  @include link;
  @include text(18px, 62px, 400, $color-darker);
  border-radius: 10px;
  align-self: center;
}

.routes__link::after {
  @include triangle-small;
}

@media (min-width: $medium-width) {
  .routes__title {
    @include text(45px, 45px, 400, $color-bright);
    padding-left: 10%;
  }
  .routes__text {
    @include text(28px, 33px, 200, $color-dark);
    margin: 0;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 40px;
    width: 45%;
  }
  .routes__list {
    width: 80%;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    background: url("../img/routes-list-back.svg") no-repeat;
  }
  .routes__list-item {
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 10px;
    align-items: flex-start;
  }
  .routes__link {
    width: 72%;
    @include link;
    @include text(24px, 78px, 400, $color-darker);
    border-radius: 20px;
    align-self: center;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
